<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <h5>Saludos Cordiales</h5>
        <h5>Datos para registrar la Cita Cancelada</h5>

        <span style="font-family:Arial;font-size:10pt">
            Código_Cita &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{CodigoCita}
            <br />
            Ciudad_Cita &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{Ciudad}
            <br />
            Fecha_Cita &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{FecCita}
            <br />
            Hora_Cita &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{Horacita}
            <br />
            Prestadora &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{Prestadora}
            <br />
            Medico &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{Medico}
            <br />
            Especialidad &nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{Especialidad}
            <br />
            Tipo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{Tipo}
            <br />
            Paciente &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{Paciente}
            <br />
            Motivo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{Motivo}
            <br />
            Observacion &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{Observacion}
            <br />
            Usuario &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;{Usuario}
        </span>
        <br />
        <br /><br />
        <img src=cid:myImageID>
        <br /><br />
        <span style="font-family:Arial;font-size:10pt;color:blue">
            {Pie1}
            <br />
            {Pie2}
            <br />
            {Pie3}
            <br />
            {Pie4}
        </span>
    </div>
</body>
</html>
